<div class="row">
    <div class="carrousel-inner">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="http://placehold.it/1200x300/16a085/ffffff&text=Sobre Nós" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                    <h3>Organize Conosco!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam.
                    </p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="http://placehold.it/1200x300/e67e22/ffffff&text=Eventos" alt="Random second slide">
                </div>
                <div class="carousel-caption">
                    <h3>Eventos Técnicos</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam.
                    </p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="http://placehold.it/1200x300/2980b9/ffffff&text=Ganhe Dinheiro" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                    <h3>Venda seus Eventos</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam.
                    </p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>